<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Eva2/Fuente/ejercicio06me/Ovalosaleatorios.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ejercicio06me.Ovalosaleatorios"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Eva2"/>
</launchConfiguration>
